<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Omnify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDB5C2D4215C0E6800B6FDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDB5C2EB215C0E6800B6FDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDB5C2F6215C0E6800B6FDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
